{% extends 'base.html' %}

{% block content %}
{% comment %} The task is do to back to nomral is to uncommenct the line 7 and remove all code below this {% endcomment %}
{% include 'includes/messages.html' %}
<form action="" method="post" novalidate>
    {% csrf_token %}
    {{form.as_p}}
    
    <button type="submit">Submit</button>
</form>
<br>
{% comment %} <button type="submit"></button> {% endcomment %}
<div class="col-auto text-right float-right ml-auto">
   <br>
    <a href="{% url 'present_report' %}" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i>Report Download Download</a>
    {% comment %} <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a> {% endcomment %}
 </div>

{% endblock %}
