{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Take Attendance</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="add_subjects.html">Attendance</a></li>
                <li class="breadcrumb-item active">Take Attendance</li>
             </ul>
          </div>
       </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
       <div class="col-sm-12">
          <div class="card">
             <div class="card-body">
               {% if action is None %}
                <form method="post" action="?action=get_student" >
                  {% csrf_token %}
                   <div class="row">
                      <div class="col-12">
                         <h5 class="form-title"><span>Take Attendance</span></h5>
                      </div>
                     
                      {% comment %} 
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Staff</label>
                            <select class="form-control" name="staff_id" required>
                               <option>Select Staff</option>
                               {% for i in staff %}
                               <option value="{{i.id}}">{{i.admin.first_name}}</option>
                               {% endfor %}
                              </select>
                           </div>
                        </div>
                        {% endcomment %}
                      <div class="col-12 col-sm-6">
                        <label>Subject</label>
                                   <select class="form-control" name="subject_id" required>
                                      <option>Select Subject</option>
                                       {% for i in subject %}
                                      <option value="{{i.id}}">{{i.name}}</option>
                                        {% endfor %}
                                   </select>
                     </div>
               
                      <div class="col-12">
                        <br>
                         <button type="submit" class="btn btn-primary">Fetch Student</button>
                      </div>
                   </div>
                </form>
                {% else %}
               
                <form method="post" action="{% url 'staff_save_attendance' %}">
                  {% csrf_token %}
                   <div class="row">
                      <div class="col-12">
                         <h5 class="form-title"><span>Take Attendance</span></h5>
                      </div>
                      {% comment %} Subject Section {% endcomment %}
                      <div class="col-12 col-sm-6">
                        <label>Subject</label>
                                   <select class="form-control" name="subject_id" required>
                                     <option value="{{get_subject.id}}">{{get_subject}}</option>
                                        
                                   </select>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               {% comment %} <br>   {% endcomment %}
                               <label>Attendance Date</label>
                               <input type="date" class="form-control" name="attendance_date">
                               
                               {% comment %} <input type="text" class="form-control" name="subject_id" hidden> {% endcomment %}
                               
                              </div>
                           </div>
                           {% comment %} Attendance Section {% endcomment %}
                           
                           {% for i in students %}
                           <div class="col-12 mt-5 mx-4">

                              <div class="form-check form-switch">
                                 <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" value="{{i.id}}" name="student_id">
                                 <label class="form-check-label" for="flexSwitchCheckDefault">{{i.admin.first_name}} {{i.admin.last_name}}</label>
                               </div>
                              <br>
                           </div>
                           {% endfor %}
                        
                      
                      
                      <div class="col-12">
                         <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                   </div>
                </form>
               
                {% endif %}
             </div>
          </div>
       </div>
    </div>
 </div>

{% endblock %}