<script>
  $(document).ready(function(){
    // Hide alert after 5 seconds
    window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
      });
    }, 5000);
  });
  {% comment %}Pass validation <script> {% endcomment %}
    const passwordField = document.getElementById('password');
    const passwordValidationMsg = document.getElementById('password-validation-msg');
  
    passwordField.addEventListener('input', () => {
      const password = passwordField.value;
  
      // Define password requirements
      const hasUpperCase = /[A-Z]/.test(password);
      const hasLowerCase = /[a-z]/.test(password);
      const hasNumber = /[0-9]/.test(password);
      const hasSpecialChar = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(password);
      const isLongEnough = password.length >= 8;
  
      // Check if password meets all requirements
      if (hasUpperCase && hasLowerCase && hasNumber && hasSpecialChar && isLongEnough) {
        passwordValidationMsg.innerText = '';
        passwordField.setCustomValidity('');
      } else {
        passwordValidationMsg.innerText = 'Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.';
        passwordField.setCustomValidity('Invalid password');
      }
    });
  {% comment %} </script> {% endcomment %}
  {% comment %} Phone number validation {% endcomment %}
  const phoneInput = document.getElementById('phone_number');
  const phoneError = document.getElementById('phone_error');

  phoneInput.addEventListener('input', function(event) {
     const phoneNumber = event.target.value;
     const phoneRegex = /^[6-9]\d{9}$/; // Indian phone number format
     if (!phoneRegex.test(phoneNumber)) {
        phoneError.textContent = 'Please enter a valid Indian phone number';
        phoneInput.setCustomValidity('invalid');
     } else {
        phoneError.textContent = '';
        phoneInput.setCustomValidity('');
     }
  });
 
  {% comment %} Email Validation {% endcomment %}
  const emailField = document.getElementById("email");
const validationMsg = document.getElementById("email-validation-msg");

emailField.addEventListener("input", validateEmail);

function validateEmail() {
  const email = emailField.value;
  const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

  if (!regex.test(email)) {
    validationMsg.textContent = "Please enter a valid email address.";
    emailField.setCustomValidity("Invalid email address");
  } else {
    validationMsg.textContent = "";
    emailField.setCustomValidity("");
  }
}

 
</script>