{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="post" action="{% url 'add_session' %}">
                  {% csrf_token %}
                   <div class="col-12">
                      <h5 class="form-title"><span>Add Session Year</span></h5>
                   </div>
                  {% include 'includes/messages.html' %}
           {% comment %} col-sm-11 {% endcomment %}
                   
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Start Session Year</label>
                         <input type="date" class="form-control" name="session_year_start" required>
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Session End Year</label>
                       <input type="date" class="form-control" name="session_year_end" required>
                    </div>
                 </div>
                   
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary">Add Session</button>
                   </div>
                    
             </form>
          </div>
       </div>
    </div>
 </div>

{%endblock%}