{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">ADD CLASS</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="add_subjects.html">Class</a></li>
               <li class="breadcrumb-item active">Class</li>
            </ul>
         </div>
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="{% url 'update_class' %}">
                  {% csrf_token %}
                  <div class="row">
                     <div class="col-12">
                        <h5 class="form-title"><span>Class Information</span></h5>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Class Name</label>
                           <input type="text" class="form-control" name="class_name" value="{{new_class.name}}">
                           {% comment %} <input type="text" class="form-control" name="id_class" value="{% for i in Class %}{{i.id}}{% endfor %} "> {% endcomment %}
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Class ID</label>
                           {% comment %} <input type="text" class="form-control" name="class_name" value="{% for i in class %}{{i.name}}{% endfor %}"> {% endcomment %}
                           <input type="text" class="form-control" name="id_class" value="{{new_class.id}}" required>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <label>Session Year</label>
                        <select class="form-control" name="session_year_id" required>
                           <option>Select Session Year</option>
                           {% for i in session_year %}
                           <option value="{{i.id}}">{{i.session_start}} TO {{i.session_end}}</option>
                           {% endfor %}
                        </select>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Staff</label>
                           <select class="form-control" name="staff_id" required>
                              <option>Select Staff</option>
                              {% for i in staff %}
                              <option value="{{i.id}}">{{i.admin.first_name}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Level</label>
                           <input type="text" class="form-control" name="class_level">
                           
                        </div>
                     </div>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}